<header>
    <div class="pag-nav">
        <img src="assets/logo.png">
        <p><a href="/home">Home</a></p>
    </div>
    <div class="pag-nav">
        <p><a href="/login">Iniciar Sesion</a></p>
        <p><a href="/cart">Carrito</a></p>
    </div>
</header>